Summary:

Variable 1 - HAPPY = General Happiness

Variable 2 - HEALTH = Health Status

Variable 3 - PRESTG10 = prestige of occupation (scale 0-100)

In [51]:
#Data
import numpy as np # Import the numpy package into your workspace
import pandas as pd  # Import the pandas package into your workspace
import seaborn as sns # Import Seaborn
import matplotlib.pyplot as plt

In [52]:
! git clone https://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@github.com/DS3001/group3.git
df = pd.read_csv('./group3/smalldf_notcleaned.csv',low_memory=False)
df = df[df['year'] == 2022]
df.head() #filter the data to only include 2022 data
df['happy'].value_counts

fatal: destination path 'group3' already exists and is not an empty directory.

<bound method IndexOpsMixin.value_counts of 68846    not too happy
68847    not too happy
68848    not too happy
68849    not too happy
68850     pretty happy
             ...
72385     pretty happy
72386     pretty happy
72387     pretty happy
72388       very happy
72389     pretty happy
Name: happy, Length: 3544, dtype: object>

In [53]:
#df['happy'].value_counts()
print(df['happy'].isnull().sum())

24

In [54]:
df= df[df['happy'].notnull()]
print(df['happy'].isnull().sum())

0

We just dropped all the rows in the dataframe where the happy variable was a nan, we did this because there is no easy way to approximate this categorical data, there also was only 24 nans which is insignificant.

In [55]:
#df['health'].value_counts()
print(df['health'].isnull().sum())

2

In [56]:
df= df[df['health'].notnull()]
print(df['health'].isnull().sum())

0

We just dropped all the rows in the dataframe where the health variable was a nan, we did this because there is no easy way to approximate this categorical data, and because there was only 2 nans.

In [49]:
#df['prestg10'].value_counts()
print(df['prestg10'].isnull().sum())

212

In [57]:
print(100*(212/df.shape[0]))
#only 6% of the data is not that much, so we will just drop all of the nans

6.026151222285389

We also dropped all the rows in the dataframe where the pretg10 was a nan, we did this because only 6% of the data was a nan. While this is not insignificant, we couldn't decide on another variable to base an estimation off of.

In [58]:
df= df[df['health'].notnull()]
print(df['health'].isnull().sum())

0

Results:

Conclusion:

Appendix: